<div class="container marketing">

  <h2 class="featurette-heading">About</h2>

  <div class="row featurette" id="mission">
    <p class="lead"><span class="dark-pink">Mission Statement</span></p>
    <p class="text-left">
      To create a special sisterhood that none of us want to but the most important thing is we paddle, thrive and
      survived after cancer.<br />
      To provide hope and support to other cancer survivors and their families<br />
      To enrich our lives through dragon boat paddling<br />
      To grow the sport of dragon boating in our community<br />
      To unite our community for charitable purposes through dragon boat paddling and racing<br />
      To be part of Susan Komen mission of  saving lives, empowering people and ensuring quality care for all and
      fund research to find a cure.<br />
    </p>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette" id="vision">
    <p class="lead"><span class="dark-pink">Vision Statement</span></p>
    <p class="text-left">
      We want to make history. We want to bring and promote dragonboating out of town and internationally.
    </p>
  </div>


</div>

