<div class="container marketing">

  <h2 class="featurette-heading">About</h2>
  <div class="row featurette" id="about">
    <div class="col-md-2">
      <%= image_tag "JamesMa2.jpg", :class => 'img-reponsive', :width => '180' %>
    </div>
    <div class="col-md-10">
      <p class="lead">
        <span class="pink">James Ma</span><span>, President and Coach</span><br />
        James Ma has been involved in the sport of Dragon-boating and a paddle sport
        coach and paddler for over 15 years. In his current profession, he works as an IT
        consultant for T & L Group and coaches and paddles on weekends. Below are some of his
        accomplishments in this sport:<br />
        <ul>
          <li>Member of two time repeating NYHKG festival overall Champions DCH during 1999 and 2000.
            As Champions, invited to participate in Hong Kong International Championship in 1999 (5th place, men’s crew),
            2000 (7th place overall). .</li>
          <li>Placed 1st in the Open Premier Crew in Montreal, 2000.  Placed 3rd overall in the Open Premier Division in
            Toronto, 2000. Other races placed in 1st were in Boston 1999, Washington D.C. 2000, Hartford 2001,
            San Francisco 1997, Vancouver 2000, Longyue China 2004, Nanjing China 2004.</li>
          <li>Member of Team USA at 2001 (Philadelphia, USA) and 2004 (Shanghai, China) Dragonboat Worlds Championships.</li>
          <li>Member of USA Swan Boat Team in Thailand , 2003</li>
          <li>Member of Team USA ICF World Championship in 2006 in Kahosuing, Taiwan.</li>
          <li>Trained under Jim Farintosh in 1999, 2000. (Head Coach for Canadian National Teams)</li>
          <li>Coached corporate teams e.g. Citidragons (Citibank) and DBS KACF Red Devils (Bank of Singapore) in
            corporate banking divisions</li>
          <li>Coached Puff Puff Dragons to 5 times NYC Regular Division Champions as competitive open mix crew</li>
          <li>Coached BCS cancer crew for 4 yrs as part of Memorial Sloan Kettering team</li>
          <li>Coach/Director of <a href="http://worldsfairmarinacanoeclub.com">NYC Worlds Fair Marina Canoe Club </a></li>
        </ul>
      </p>
    </div>

    <hr class="featurette-divider">

    <div class="col-md-2">
      <%= image_tag "LeahSalmorin.png", :class => 'img-reponsive', :height => '135' %>
    </div>
    <div class="col-md-10">
      <p class="lead">
        <span class="pink">Leah V. Salmorin</span><span>, Vice President</span><br />
        Leah V. Salmorin’s journey as a breast cancer survivor is a primary motivator in her life.
        As part of her role as Vice President she frequently reaches out to other charitable organizations, government
        and support groups to find ways of pooling resources and collaborating on projects. She is a lector at
        St. Patrick’s Cathedral and St. Joan of Arc Church, a patient navigator for The  American Cancer Society and
        volunteers at Elmhurst Hospital.<br /><br />
        Leah hails from the Philippines and from a medical family. She has a Bachelor’s degree in Accounting and was
        awarded "outstanding employee" and "top financial consultant" at the Philippine National Bank and Marketing
        by Prulife-UK, respectively. Membership in various clubs: Toastmaster Club, Lions Club and Kiwanis Club.
        Other notable contributions: SHARE hotline volunteer (2006), NY State Breast Cancer Network Advocate -Albany
        (2007), Creative Center Visual Diaries Exhibition  participant at the University Settlement (2009), National
        Breast Cancer Coalition Project Lead Graduate – Boston (2010) and Susan G. Komen Pink Honor Roll (2013).
        Leah’s other involvements include: Cancer Care, Gilda’s, Stupid Cancer, Young Survival Coalition, Livestrong,
        Casting for Recovery, Libby Ross Foundation, SASS Foundation, Stowe Weekend of Hope and Pink Glove Dance.
      </p>
    </div>

    <hr class="featurette-divider">

    <div class="col-md-2">
      <%= image_tag "AmandaLi.jpeg", :class => 'img-reponsive', :height => '135' %>
    </div>
    <div class="col-md-10">
      <p class="lead">
        <span class="pink">Amanda Li</span><span>, Secretary</span><br />
        Amanda started dragonboating in 2004 and has never looked back.  She began paddling on the Hua Fu Chinese School
        team, and then joined Capital City Dragons the following season.  From 2006 to 2008, she paddled and helped coach
        her father's corporate dragonboat team. After graduating from Cornell, she moved to New York City in 2008 and
        joined the Puff Puff Dragons, a competitive co-ed team, under the wise leadership of Coach James Ma.
        And the rest is history!<br /><br />
        In her free time, Amanda enjoys cooking, pick up games of soccer, watching movies, and finding great places
        to eat. She recently graduated from the French Culinary Institute, to make her "foodie" status official.
        For her occupation, she is a Software Engineer at Venmo, a peer-to-peer Payments startup in NYC.
        Amanda is thrilled to be coaching for Paddle for the Cure.
        She hopes that everyone will achieve happiness and fulfillment on the boat, whether it be through individual
        perseverance and/or embracing the team-aspect of sisterhood.
      </p>
    </div>

    <hr class="featurette-divider">

    <div class="col-md-2">
      <%= image_tag "PeterGenares.png", :class => 'img-reponsive', :height => '135' %>
    </div>
    <div class="col-md-10">
      <p class="lead">
        <span class="pink">Peter Genares</span><span>, Treasurer</span><br />
        Peter Genares came to Paddle for the Cure through his work in various non-profit organizations in autism, alcohol
        and substance abuse, healthcare and conservation. He serves as Treasurer, overseeing the financial aspect
        and reporting of user related funds. <br />  <br />
        Peter has also worked in the field of finance and accounting in Asset Management, Private Equity and Insurance.
        He holds an M.B.A. in Business Management, a B.A. in Philosophy and a B.S.C. in Accounting. He pursues the
        diaconate program that challenges him daily to a life of justice, mercy and charity. <br /> <br />
        <em>"Better to illuminate than merely to shine, to deliver to others contemplated truths than merely to contemplate."</em><br />
        - The Angelic Doctor, St. Thomas Aquinas

      </p>
    </div>

  </div>
</div>

