<div class="row featurette" id="directions">
  <div class="col-md-7">
    <h2 class="featurette-heading">Where We Practice</h2>
    <p class="lead">
      Practices are held at the <a href="http://goo.gl/maps/A0ub8" target="_blank">World's Fair Marina</a> right next door to Mets Stadium. Practices are on <strong>Saturdays from 10:30am-12pm</strong>
      <br />
      <em>Directions</em>: Take the 7 train to Mets Stadium – Willets Point. Walk into the parking lot towards the stadium. You’ll reach a 4-way traffic light and continue underneath the highway underpass to reach the Marina.
    </p>
  </div>
  <div class="col-md-5">
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=d&amp;source=s_q&amp;hl=en&amp;geocode=%3BCQ_blQYYE3KtFYXybQIdsCaZ-yl17Py85l_CiTGlS-Zf740hgg&amp;q=World's+Fair+Marina,+Willets+Point,+NY&amp;aq=0&amp;oq=world's+fair+&amp;sll=40.748395,-73.847308&amp;sspn=0.025814,0.048108&amp;ie=UTF8&amp;hq=&amp;hnear=World's+Fair+Marina,+Flushing,+Queens,+New+York+11368&amp;t=m&amp;daddr=World's+Fair+Marina,+Flushing,+NY+11368&amp;ll=40.759941,-73.849168&amp;spn=0.006295,0.008311&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=d&amp;source=embed&amp;hl=en&amp;geocode=%3BCQ_blQYYE3KtFYXybQIdsCaZ-yl17Py85l_CiTGlS-Zf740hgg&amp;q=World's+Fair+Marina,+Willets+Point,+NY&amp;aq=0&amp;oq=world's+fair+&amp;sll=40.748395,-73.847308&amp;sspn=0.025814,0.048108&amp;ie=UTF8&amp;hq=&amp;hnear=World's+Fair+Marina,+Flushing,+Queens,+New+York+11368&amp;t=m&amp;daddr=World's+Fair+Marina,+Flushing,+NY+11368&amp;ll=40.759941,-73.849168&amp;spn=0.006295,0.008311" style="color:#0000FF;text-align:left">View Larger Map</a></small>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette" id="parking">
  <div class="col-md-5">
    <%= image_tag "ParkingLot.png", :class => 'img-reponsive', :width => '450' %>
  </div>
  <div class="col-md-7">
    <h2 class="featurette-heading">Parking</h2>
    <p class="lead">
      For practices, please park in the Main Parking Lot of the World's Fair Marina. The Main Parking lot is the
      large parking lot on the water-side of the marina, which you have to drive thru to get to the Half Moon restaurant.
      You do not need a parking pass to park there, yay!
    </p>
  </div>
</div>