<div class="container marketing">

    <div class="row featurette" id="events">
      <h2 class="featurette-heading">Events</h2>

      <div class="col-md-7">

        <p class="text-left">
          Coming Soon!
        </p>
      </div>
    </div>
</div>