<div class="container marketing">

    <div class="row featurette" id="events">
      <h2 class="featurette-heading">Events</h2>
      <div class="col-md-5">
        <%= link_to image_tag("bowling.jpg", :class => 'img-reponsive pull-left', :width => '420'), 'https://www.facebook.com/Paddle4theCure' %><%=  %>
      </div>
      <div class="col-md-7">
        <h2 class="featurette-heading">Bowl for the Cure</h2>
        <p class="text-left">
          August 26th from 4:30 to 7:00 PM  <br />
          Bowlmor Lanes at 222 West 44th Street, New York, NY 10036<br /><br />
          $60 per person – includes two (2) hours of bowling, shoes, refreshments and t-shirt.<br />
          20% of each registration will be donated to Susan G. Komen Greater NYC.<br />
          RSVP by July 31, 2014 to info@wepaddleforthecure.org<br /><br />
          Raffle tickets are $10 each or five tickets for $40 if purchased in advance.<br />
          Form a team or come alone and make new friends – there will be 12 people per lane.<br /><br />
          For more information, check out our <%= link_to 'flyer', asset_path('Bowl for the Cure Flyer 2014.pdf') %>!
        </p>
      </div>
    </div>
</div>