<div class="row featurette" id="events">
  <div class="col-md-7">
    <h2 class="featurette-heading">Events</h2>
    <p class="lead">
      Please join us for some post-holiday cheers in the new year!  Help us spread the word.
    </p>
    <p class="lead">
      <strong>Friday, January 10, 6 - 9 p.m.</strong> <br />
      <span class="pink">White Elephant Gift Swap Party</span><br />
      Did you receive a gift you did not need?  Bring it to exchange for another (minimum $10 value).  Gift you bring must be wrapped.
      $15 at the door for half price drinks.  Proceeds go to support our team.<br />
      Register here: <a href="http://tinyurl.com/nzkweds" target="_blank">http://tinyurl.com/nzkweds</a><br />
      Turtle Bay Grill & Lounge, 987 2nd Avenue (52nd Street), New York, NY 10022<br />
    </p>
    <p class="lead">
      <strong>Friday, January 24, 6:30 - 9 p.m.</strong><br />
      <span class="pink">Chinese New Year Banquet Feast</span><br />
      Celebrate Chinese Lunar New Year with your fellow dragon boaters as we feast a very special sumptuous 10-course banquet dinner.
      $60 RSVP and pre-payment required.  Proceeds go to support our team.<br />
      Register here: <a href="http://tinyurl.com/nzkweds" target="_blank">http://tinyurl.com/nzkweds</a><br />
      Dong Yi Feng (Good Kitchen) Seafood Restaurant, 135-29 37th Avenue, Flushing, NY 11354<br />
    </p>
    <p class="lead">
      Donations and tickets at our fundraisers and events are 100% tax deductible (status pending).
    </p>
    <p class="lead">
      Paddles Up!
    </p>
  </div>
</div>

