<div class="container marketing">

    <div class="row featurette" id="events">
      <h2 class="featurette-heading">Events</h2>

      <div class="col-md-7">

        <h3>Dryland Training</h3>
        <p class="lead">
          Dryland training has begun for 2016 Paddle for Cure Dragonboat Team!
          Every Sunday at 9am at Forest Hills High School: 67-01 110 Street, Queens, NY 11375
          Please send an email to info@wepaddleforthecure.org for more info.
        </p>

        <h3>16th Annual Indoor Paddling Regatta</h3>
        <p class="lead">
          Saturday March 19th, 2016
          Public School 1 @ 8 Henry Street – NYC 10038 off Catherine Slip
          Time – 10:00 AM – 2:00 PM (Registration 9:00 AM)
          Sponsored by Eastern Regional Dragon Boat Association
        </p>
      </div>
    </div>
</div>