

 <!-- Marketing messaging and featurettes
 ================================================== -->
 <!-- Wrap the rest of the page in another container to center all the content. -->

 <div class="container marketing">

   <div class="row">
     <div class="col-lg-4">
       <%= image_tag "PFTC_dragon3.jpg", :class => 'img-reponsive pull-left', :width => '500' %>
     </div>
     <div class="col-lg-7 pull-right">
       <p class="text-left">
         <strong>Paddle for the Cure</strong> is a special support organization for breast cancer survivors.  We offer a
         unique survivorship program that uses recreational dragon boat paddling to manage treatment side effects for
         breast cancer survivors and promotes a positive and healthy lifestyle.
       </p>
       <p class="text-left">
         Organized by survivors ourselves, we paddle our way to recovery with each other and a tremendous group of
         supporters and paddling enthusiast along our side. Our on-water season is May through October.  Off-season
         indoor practices are available November through April.  We plan to practice weekly in the World’s Fair
         Marina and participate in Dragon Boat races along the East Coast.
       </p>
       <p class="text-left">
         A portion of our proceeds go to Komen Greater New York City for their support.
       </p>
       <p class="text-left">
         Our team events are open to all and they promote a healthy lifestyle, a way of getting life and movement back
         through emotional support, team spirit and exercise.
       </p>
       <p class="text-left">
         Donations and tickets at our fundraisers and events are 100% tax deductible (status pending).
       </p>
       <%= link_to "Donate", asset_path('Donation Page.pdf'), :class => "btn btn-lg btn-primary" %>
     </div>
   </div>


   <% if false %>
   <!-- Three columns of text below the carousel -->
   <div class="row">
     <div class="col-lg-4">

       <h2>Heading</h2>
       <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
       <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
     </div><!-- /.col-lg-4 -->
     <div class="col-lg-4">
       <img class="img-circle" src="data:image/png;base64," data-src="holder.js/140x140" alt="Generic placeholder image">
       <h2>Heading</h2>
       <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
       <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
     </div><!-- /.col-lg-4 -->
     <div class="col-lg-4">
       <img class="img-circle" src="data:image/png;base64," data-src="holder.js/140x140" alt="Generic placeholder image">
       <h2>Heading</h2>
       <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
       <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
     </div><!-- /.col-lg-4 -->
   </div><!-- /.row -->

       <% end %>

 </div><!-- /.container -->
