

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <div class="row">
    <div class="col-lg-4">
      <%= image_tag "PFTC.JPG", :class => 'img-reponsive pull-left', :width => '500' %>
    </div>
    <div class="col-lg-7 pull-right">
      <p class="text-left">
        <span class="pink">Paddle for the Cure</span> is a special support organization for breast cancer survivors.  We offer a
        unique survivorship program that uses recreational dragon boat paddling to manage treatment side effects for
        breast cancer survivors and promotes a positive and healthy lifestyle.
      </p>
      <p class="text-left">
        Organized by survivors ourselves, we paddle our way to recovery with each other and a tremendous group of
        supporters and paddling enthusiasts along our side. Our on-water season is May through October.  Off-season
        indoor practices are available November through April.  We plan to practice weekly in the World’s Fair
        Marina and participate in Dragon Boat races along the East Coast.
      </p>
      <p class="text-left">
        A portion of our proceeds go to Komen Greater New York City for their support.
      </p>
      <p class="text-left">
        Our team events are open to all and they promote a healthy lifestyle, a way of getting life and movement back
        through emotional support, team spirit and exercise.
      </p>
      <p class="text-left">
        Donations and tickets at our fundraisers and events are 100% tax deductible (status pending).
      </p>
      <br />
      <%= link_to "Donate", asset_path('Donation Page.pdf'), :class => "btn btn-lg btn-primary" %>
      <p class="text-left">
        <em>Your generous tax-deductible contribution will help our team support our mission.  Thank you.</em>
      </p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <h2 class="featurette-heading">Events</h2>
    <p class="lead">
      Please join us for some post-holiday cheers in the new year!  Help us spread the word.
    </p>
    <p class="lead">
      <strong>Friday, January 10, 6 - 9 p.m.</strong> <br />
      <span class="pink">White Elephant Gift Swap Party</span><br />
      Did you receive a gift you did not need?  Bring it to exchange for another (minimum $10 value).  Gift you bring must be wrapped.
      $15 at the door for half price drinks.  Proceeds go to support our team.<br />
      Register here: <a href="http://tinyurl.com/nzkweds" target="_blank">http://tinyurl.com/nzkweds</a><br />
      Turtle Bay Grill & Lounge, 987 2nd Avenue (52nd Street), New York, NY 10022<br />
    </p>
    <p class="lead">
      <strong>Friday, January 24, 6:30 - 9 p.m.</strong><br />
      <span class="pink">Chinese New Year Banquet Feast</span><br />
      Celebrate Chinese Lunar New Year with your fellow dragon boaters as we feast a very special sumptuous 10-course banquet dinner.
      $60 RSVP and pre-payment required.  Proceeds go to support our team.<br />
      Register here: <a href="http://tinyurl.com/nzkweds" target="_blank">http://tinyurl.com/nzkweds</a><br />
      Dong Yi Feng (Good Kitchen) Seafood Restaurant, 135-29 37th Avenue, Flushing, NY 11354<br />
    </p>
    <p class="lead">
      Donations and tickets at our fundraisers and events are 100% tax deductible (status pending).
    </p>
    <p class="lead">
      Paddles Up!
    </p>
  </div>

  <hr class="featurette-divider">

</div><!-- /.container -->



