<div class="container marketing">


    <div class="row featurette" id="news">
      <h2 class="featurette-heading">News</h2>
      <div class="col-md-5">
        <%= link_to image_tag("Web-boat-12.jpg", :class => 'img-reponsive pull-left', :width => '420'), 'http://queenscourier.com/2014/breast-cancer-survivors-create-dragon-boat-racing-team-to-raise-funds/' %>
      </div>
      <div class="col-md-7">
        <h4 class="featurette-heading"><%= link_to 'The Queens Courier', 'http://queenscourier.com/2014/breast-cancer-survivors-create-dragon-boat-racing-team-to-raise-funds/' %></h4>
        <p class="text-left">
          Queens Courier: Breast Cancer Survivors create Dragon Boat racing team to raise Funds
        </p>
      </div>

    </div>

</div>