<!-- Carousel
 ================================================== -->
 <div id="myCarousel" class="carousel slide">
   <!-- Indicators -->
   <ol class="carousel-indicators">
     <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
     <li data-target="#myCarousel" data-slide-to="1"></li>
   </ol>
   <div class="carousel-inner">
     <div class="item">
       <%= image_tag "world_fair_marina.JPG" %>
       <div class="container">
         <div class="carousel-caption">
         </div>
       </div>
     </div>
     <div class="item">
       <%= image_tag "photo 1.JPG" %>
       <div class="container">
         <div class="carousel-caption">
         </div>
       </div>
     </div>
   </div>
   <a class="left carousel-control" href="#myCarousel" data-slide="prev">
     <span class="glyphicon glyphicon-chevron-left"></span>
   </a>
   <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right white"></span></a>
 </div><!-- /.carousel -->


<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">Introduction to Dragonboat</h2>
    <p class="lead">We had our first paddling introduction on November 3rd, 2013. It was blustery day but our ladies took
      it in stride and paddled together beautifully. There was a flower ceremony to honor the fallen cancer survivors and
      those currently undergoing treatment. Afterwards, we warmed back up with snacks and hot chocolate and coffee. What
      a great way to spend a Sunday morning!</p>
  </div>
</div>

