<div class="row featurette" id="support">
  <div class="col-md-7">
    <h2 class="featurette-heading">Support</h2>
    <p class="lead">
        <button class="btn btn-lg btn-primary">Donate</button>
    </p>
  </div>
  <div class="col-md-5">
  </div>
</div>

