<div class="row featurette" id="support">
  <div class="col-md-7">
    <h2 class="featurette-heading">Support</h2>
    <p class="lead">
        <%= link_to "Donate", asset_path('Donation Page.pdf'), :class => "btn btn-lg btn-primary" %>
    </p>
    <p class="text-left">
      <em>Your generous tax-deductible contribution will help our team support our mission. Thank you.</em>
    </p>
  </div>
  <div class="col-md-5">
  </div>
</div>

